@page "/"
@using Forge.WebApp.Services
@inject WebApiService _api

<main>
    <Button Label="Queue build" Clicked="QueueBuild"></Button>
    <LiveBuildLogsView></LiveBuildLogsView>
</main>

@code {
    
    private async Task QueueBuild()
    {
        await _api.QueueRevisionBuild("TestRepo");
    }
}